scrape_configs:

  - job_name: 'alertmanager/server'
    metrics_path: /metrics
    scrape_interval: 15s
    scrape_timeout: 10s
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - alertmanager-2a.{{ hosted_zone_name }}:9093
          - alertmanager-2b.{{ hosted_zone_name }}:9093
          - alertmanager-2c.{{ hosted_zone_name }}:9093
        labels:
          service_namespace: observability
          service_name: alertmanager-server
          phxi_service_name: alertmanager
          phxi_service_component: server
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node
