scrape_configs:

  - job_name: 'mimir/compactor'
    metrics_path: /metrics
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - mimir-compactor-2a.{{ hosted_zone_name }}:8443
          - mimir-compactor-2b.{{ hosted_zone_name }}:8443
          - mimir-compactor-2c.{{ hosted_zone_name }}:8443
        labels:
          cluster: "{{ company_name }}-{{ platform_env }}-{{ ansible_ec2_instance_identity_document_region }}"
          service_namespace: observability
          service_name: mimir-compactor
          phxi_service_name: mimir
          phxi_service_component: compactor
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node

  - job_name: 'mimir/distributor'
    metrics_path: /metrics
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - mimir-distributor-2a.{{ hosted_zone_name }}:8443
          - mimir-distributor-2b.{{ hosted_zone_name }}:8443
          - mimir-distributor-2c.{{ hosted_zone_name }}:8443
        labels:
          cluster: "{{ company_name }}-{{ platform_env }}-{{ ansible_ec2_instance_identity_document_region }}"
          service_namespace: observability
          service_name: mimir-distributor
          phxi_service_name: mimir
          phxi_service_component: distributor
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node

  - job_name: 'mimir/ingester'
    metrics_path: /metrics
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - mimir-ingester-2a.{{ hosted_zone_name }}:8443
          - mimir-ingester-2b.{{ hosted_zone_name }}:8443
          - mimir-ingester-2c.{{ hosted_zone_name }}:8443
        labels:
          cluster: "{{ company_name }}-{{ platform_env }}-{{ ansible_ec2_instance_identity_document_region }}"
          service_namespace: observability
          service_name: mimir-ingester
          phxi_service_name: mimir
          phxi_service_component: ingester
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node

  - job_name: 'mimir/querier'
    metrics_path: /metrics
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - mimir-querier-2a.{{ hosted_zone_name }}:8443
          - mimir-querier-2b.{{ hosted_zone_name }}:8443
          - mimir-querier-2c.{{ hosted_zone_name }}:8443
        labels:
          cluster: "{{ company_name }}-{{ platform_env }}-{{ ansible_ec2_instance_identity_document_region }}"
          service_namespace: observability
          service_name: mimir-querier
          phxi_service_name: mimir
          phxi_service_component: querier
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node

  - job_name: 'mimir/query-frontend'
    metrics_path: /metrics
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - mimir-query-frontend-2a.{{ hosted_zone_name }}:8443
          - mimir-query-frontend-2b.{{ hosted_zone_name }}:8443
          - mimir-query-frontend-2c.{{ hosted_zone_name }}:8443
        labels:
          cluster: "{{ company_name }}-{{ platform_env }}-{{ ansible_ec2_instance_identity_document_region }}"
          service_namespace: observability
          service_name: mimir-query-frontend
          phxi_service_name: mimir
          phxi_service_component: query-frontend
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node

  - job_name: 'mimir/query-scheduler'
    metrics_path: /metrics
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - mimir-query-scheduler-2a.{{ hosted_zone_name }}:8443
          - mimir-query-scheduler-2b.{{ hosted_zone_name }}:8443
          - mimir-query-scheduler-2c.{{ hosted_zone_name }}:8443
        labels:
          cluster: "{{ company_name }}-{{ platform_env }}-{{ ansible_ec2_instance_identity_document_region }}"
          service_namespace: observability
          service_name: mimir-query-scheduler
          phxi_service_name: mimir
          phxi_service_component: query-scheduler
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node

  - job_name: 'mimir/store-gateway'
    metrics_path: /metrics
    scheme: https
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - mimir-store-gateway-2a.{{ hosted_zone_name }}:8443
          - mimir-store-gateway-2b.{{ hosted_zone_name }}:8443
          - mimir-store-gateway-2c.{{ hosted_zone_name }}:8443
        labels:
          cluster: "{{ company_name }}-{{ platform_env }}-{{ ansible_ec2_instance_identity_document_region }}"
          service_namespace: observability
          service_name: mimir-store-gateway
          phxi_service_name: mimir
          phxi_service_component: store-gateway
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node
