scrape_configs:

  - job_name: 'pyroscope/compactor'
    metrics_path: /metrics
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - pyroscope-compactor-2a.{{ hosted_zone_name }}:8080
          - pyroscope-compactor-2b.{{ hosted_zone_name }}:8080
          - pyroscope-compactor-2c.{{ hosted_zone_name }}:8080
        labels:
          cluster: "{{ company_name }}-{{ platform_env }}-{{ ansible_ec2_instance_identity_document_region }}"
          service_namespace: observability
          service_name: pyroscope-compactor
          phxi_service_name: pyroscope
          phxi_service_component: compactor
          namespace: pyroscope
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node

  - job_name: 'pyroscope/distributor'
    metrics_path: /metrics
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - pyroscope-distributor-2a.{{ hosted_zone_name }}:8080
          - pyroscope-distributor-2b.{{ hosted_zone_name }}:8080
          - pyroscope-distributor-2c.{{ hosted_zone_name }}:8080
        labels:
          cluster: "{{ company_name }}-{{ platform_env }}-{{ ansible_ec2_instance_identity_document_region }}"
          service_namespace: observability
          service_name: pyroscope-distributor
          phxi_service_name: pyroscope
          phxi_service_component: distributor
          namespace: pyroscope
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node

  - job_name: 'pyroscope/ingester'
    metrics_path: /metrics
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - pyroscope-ingester-2a.{{ hosted_zone_name }}:8080
          - pyroscope-ingester-2b.{{ hosted_zone_name }}:8080
          - pyroscope-ingester-2c.{{ hosted_zone_name }}:8080
        labels:
          cluster: "{{ company_name }}-{{ platform_env }}-{{ ansible_ec2_instance_identity_document_region }}"
          service_namespace: observability
          service_name: pyroscope-ingester
          phxi_service_name: pyroscope
          phxi_service_component: ingester
          namespace: pyroscope
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node

  - job_name: 'pyroscope/querier'
    metrics_path: /metrics
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - pyroscope-querier-2a.{{ hosted_zone_name }}:8080
          - pyroscope-querier-2b.{{ hosted_zone_name }}:8080
          - pyroscope-querier-2c.{{ hosted_zone_name }}:8080
        labels:
          cluster: "{{ company_name }}-{{ platform_env }}-{{ ansible_ec2_instance_identity_document_region }}"
          service_namespace: observability
          service_name: pyroscope-querier
          phxi_service_name: pyroscope
          phxi_service_component: querier
          namespace: pyroscope
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node

  - job_name: 'pyroscope/query-frontend'
    metrics_path: /metrics
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - pyroscope-query-frontend-2a.{{ hosted_zone_name }}:8080
          - pyroscope-query-frontend-2b.{{ hosted_zone_name }}:8080
          - pyroscope-query-frontend-2c.{{ hosted_zone_name }}:8080
        labels:
          cluster: "{{ company_name }}-{{ platform_env }}-{{ ansible_ec2_instance_identity_document_region }}"
          service_namespace: observability
          service_name: pyroscope-query-frontend
          phxi_service_name: pyroscope
          phxi_service_component: query-frontend
          namespace: pyroscope
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node

  - job_name: 'pyroscope/query-scheduler'
    metrics_path: /metrics
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - pyroscope-query-scheduler-2a.{{ hosted_zone_name }}:8080
          - pyroscope-query-scheduler-2b.{{ hosted_zone_name }}:8080
          - pyroscope-query-scheduler-2c.{{ hosted_zone_name }}:8080
        labels:
          cluster: "{{ company_name }}-{{ platform_env }}-{{ ansible_ec2_instance_identity_document_region }}"
          service_namespace: observability
          service_name: pyroscope-query-scheduler
          phxi_service_name: pyroscope
          phxi_service_component: query-scheduler
          namespace: pyroscope
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node

  - job_name: 'pyroscope/store-gateway'
    metrics_path: /metrics
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets:
          - pyroscope-store-gateway-2a.{{ hosted_zone_name }}:8080
          - pyroscope-store-gateway-2b.{{ hosted_zone_name }}:8080
          - pyroscope-store-gateway-2c.{{ hosted_zone_name }}:8080
        labels:
          cluster: "{{ company_name }}-{{ platform_env }}-{{ ansible_ec2_instance_identity_document_region }}"
          service_namespace: observability
          service_name: pyroscope-store-gateway
          phxi_service_name: pyroscope
          phxi_service_component: store-gateway
          namespace: pyroscope
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node
