scrape_configs:

  - job_name: 'sitesuper/web'
    metrics_path: /metrics
    # scheme: https
    # tls_config:
    #  insecure_skip_verify: true
    static_configs:
      - targets:
          # - sitesuper-web-2a.{{ hosted_zone_name }}:9000
          - sitesuper-web-2b.{{ hosted_zone_name }}:9000
          # - sitesuper-web-2c.{{ hosted_zone_name }}:9000
        labels:
          service_namespace: sitesuper
          service_name: sitesuper-web
          phxi_service_name: sitesuper
          phxi_service_component: web
    relabel_configs:
      - source_labels: [__address__]
        regex: '([^:]+):.*'
        target_label: host_fqdn
        replacement: '$1'
      - source_labels: [__address__]
        regex: "([^.]*)\\.?.*"
        target_label: node
