logging {
  level = "{{ log_level }}"
  format = "json"
}

discovery.process "all" {
  // default: discovers all processes
}

// system-wide ebpf profiling
pyroscope.ebpf "system" {
  targets = discovery.relabel.profiling_targets.output
  forward_to = [pyroscope.write.pyro.receiver]
}

discovery.relabel "profiling_targets" {
  targets = discovery.process.all.targets
  rule {
    source_labels = ["__meta_process_exe"]
    regex         = ".*/([^/]+)$"
    target_label  = "process_name"
    replacement   = "$1"
  }
}

// Writer: send profiles to Pyroscope cluster over https
pyroscope.write "pyro" {
  endpoint {
    url = "https://pyroscope-distributor.{{ hosted_zone_name }}"
    headers = {
      "X-Scope-OrgID" = "{{ company_name }}-{{ platform_env }}",
    }
  }
  // Labels attached to every profile (like external_labels in Prometheus)
  external_labels = {
    cloud_account_id = "{{ ansible_ec2_identity_credentials_ec2_info_accountid }}",
    cloud_availability_zone = "{{ ansible_ec2_instance_identity_document_availabilityzone }}",
    company          = "{{ company_name }}",
    env              = "{{ platform_env }}",
    host_fqdn        = "{{ hostname_no_instanceid }}.{{ hosted_zone_name }}",
    host_id          = "{{ ansible_ec2_instance_identity_document_instanceid }}",
    host_ip          = "{{ ansible_default_ipv4.address }}",
    host_image_id    = "{{ ansible_ec2_instance_identity_document_imageid }}",
    host_type        = "{{ ansible_ec2_instance_identity_document_instancetype }}",
    node             = "{{ hostname_no_instanceid }}",
    project          = "{{ project }}",
    region           = "{{ ansible_ec2_instance_identity_document_region }}",
    service_name     = "{{ app_name }}",
    service_role     = "{{ app_role }}",
  }
}
