logging {
  level = "{{ alloy_log_level }}"
  format = "json"
}

discovery.process "all" {
  // default: discovers all processes
  discover_config {
    cgroup_path = true
  }
}

// system-wide ebpf profiling
pyroscope.ebpf "system" {
  targets = discovery.relabel.profiling_targets.output
  forward_to = [pyroscope.write.pyro.receiver]
}

discovery.relabel "profiling_targets" {
  targets = discovery.process.all.targets
  rule {
    source_labels = ["__meta_process_exe"]
   regex         = ".*/([^/]+)$"
    target_label  = "process_name"
    replacement   = "$1"
  }
  rule {
    source_labels = ["__meta_process_cgroup_path"]
    regex         = ".*?/([^/]+)\\.service(?:/.*)?$"
    target_label  = "systemd_service"
    replacement   = "$1"
  }
}

// Writer: send profiles to Pyroscope cluster over https
pyroscope.write "pyro" {
  endpoint {
    url = "{{ profiles_push_endpoint }}"
    headers = {
      "X-Scope-OrgID" = "{{ pyroscope_tenant_name }}",
    }
  }
  external_labels = {
    cloud_account_id   = "{{ ansible_ec2_identity_credentials_ec2_info_accountid }}",
    cloud_region             = "{{ ansible_ec2_instance_identity_document_region }}",
    cloud_availability_zone = "{{ ansible_ec2_instance_identity_document_availabilityzone }}",
    company            = "{{ company_name }}",
    deployment_environment_name = "{{ platform_env }}",
    host_fqdn          = "{{ hostname_no_instanceid }}.{{ hosted_zone_name }}",
    host_id            = "{{ ansible_ec2_instance_identity_document_instanceid }}",
    host_ip            = "{{ ansible_default_ipv4.address }}",
    host_image_id      = "{{ ansible_ec2_instance_identity_document_imageid }}",
    host_type          = "{{ ansible_ec2_instance_identity_document_instancetype }}",
    node               = "{{ hostname_no_instanceid }}",
    project            = "{{ project }}",
    service_name       = "{{ service_name }}-{{ service_component }}",
    service_namespace  = "{{ alloy_namespace }}",
    phxi_service_name  = "{{ service_name }}",
    phxi_service_component  = "{{ service_component }}",
    phxi_account_name  = "{{ account_name }}",
    phxi_account_label = "{{ account_name }}-{{ platform_env }}",
  }
}
