global:
  resolve_timeout: 5m

route:
  #group_by: ['alertname', 'env', 'service']
  group_by: ['phxi_account_name','deployment_environment_name', 'cloud_region', 'phxi_service_name', 'phxi_service_component', 'alertname']
  group_wait: 30s
  group_interval: 2m
  repeat_interval: 1h

  # default receiver if nothing below matches
  receiver: 'slack-alert-nonprod'

  routes:
    # security always goes to security channel, regardless of env
    - matchers:
        - category = "security"
      receiver: 'slack-alert-security'

    # prod/obs/network slo alerts go to SLO channel
    - matchers:
        - category = "slo"
        - deployment_environment_name =~ "prod"
      receiver: 'slack-alert-slo'

    # all cost alerts go to cost channel
    - matchers:
        - category = "cost"
        #- deployment_environment_name = "prod"
      receiver: 'slack-alert-cost'

    # change/deploy alerts – separate low-noise channel
    - matchers:
        - category = "changes"
        - deployment_environment_name =~ "prod"
      receiver: 'slack-alert-changes'

    # paging/critical alerts in prod
    - matchers:
        - deployment_environment_name = "prod"
        - severity =~ "page|crit"
      receiver: 'slack-page-crit'

    # paging/critical alerts in obs/network
    #- matchers:
    #    - env =~ "obs|network"
    #    - severity =~ "page|crit"
    #  receiver: 'slack-page-crit'

    # non-paging alerts in prod (warnings/info)
    - matchers:
        - deployment_environment_name = "prod"
      receiver: 'slack-alert-prod'

    # everything else falls back to slack-alert-nonprod

receivers:
  # Default catch-all
  - name: 'slack-alert-nonprod'
    slack_configs:
      - api_url: "{{ alertmanager_config_slack_url_alert_nonprod }}"
        channel: '#alerts-nonprod'
        send_resolved: true
{% raw %}        title: '{{ template "slack.title" . }}'
        text: '{{ template "slack.text" . }}'
{% endraw %}

  - name: 'slack-page-crit'
    slack_configs:
      - api_url: "{{ alertmanager_config_slack_url_page_crit }}"
        channel: '#page-crit'
        send_resolved: true
{% raw %}        title: '{{ template "slack.title" . }}'
        text: '{{ template "slack.text" . }}'
{% endraw %}

  - name: 'slack-alert-prod'
    slack_configs:
      - api_url: "{{ alertmanager_config_slack_url_alert_prod }}"
        channel: '#alerts-prod'
        send_resolved: true
{% raw %}        title: '{{ template "slack.title" . }}'
        text: '{{ template "slack.text" . }}'
{% endraw %}

  - name: 'slack-alert-changes'
    slack_configs:
      - api_url: "{{ alertmanager_config_slack_url_alert_changes }}"
        channel: '#alerts-changes'
        send_resolved: true
{% raw %}        title: '{{ template "slack.title" . }}'
        text: '{{ template "slack.text" . }}'
{% endraw %}

  - name: 'slack-alert-security'
    slack_configs:
      - api_url: "{{ alertmanager_config_slack_url_alert_security }}"
        channel: '#security-alerts'
        send_resolved: true
{% raw %}        title: '{{ template "slack.title" . }}'
        text: '{{ template "slack.text" . }}'
{% endraw %}

  - name: 'slack-alert-cost'
    slack_configs:
      - api_url: "{{ alertmanager_config_slack_url_alert_cost }}"
        channel: '#cost-alarms'
        send_resolved: true
{% raw %}        title: '{{ template "slack.title" . }}'
        text: '{{ template "slack.text" . }}'
{% endraw %}

  - name: 'slack-alert-slo'
    slack_configs:
      - api_url: "{{ alertmanager_config_slack_url_alert_slo }}"
        channel: '#slo-violations'
        send_resolved: true
{% raw %}        title: '{{ template "slack.title" . }}'
        text: '{{ template "slack.text" . }}'
{% endraw %}

templates:
  - '/home/alertmanager/templates/*.tmpl'
