[Unit]
Description=Provides server for timestamp-authority for trusted timestamps
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/var/lib/{{ tsa_server_system_user }}
#WorkingDirectory=/
User={{ tsa_server_system_user }}
Group={{ tsa_server_system_user }}
EnvironmentFile=/etc/tsa/tsa-server.env
ExecStart=/opt/tsa/server/bin/tsa-server --certificate-chain-path tsa-chain.pem --host ${TSA_HTTP_ADDRESS} --include-chain-in-response --kms-key-resource ${TSA_KMS_KEY_SIGNER} --log-type ${TSA_LOG_TYPE} --port ${TSA_HTTP_PORT} --scheme http --timestamp-signer ${TSA_SIGNER_TYPE} --timestamp-signer-hash ${TSA_KMS_HASH} serve
#StandardOutput=append:/var/log/{{ tsa_server_systemd_service_name }}.log
#StandardError=append:/var/log/{{ tsa_server_systemd_service_name }}.log
StandardOutput=journal
StandardError=journal
KillMode=mixed
TimeoutSec=60
Type=simple
NotifyAccess=main
TimeoutStartSec=30
LimitNOFILE=100000
Restart=on-failure
RestartSec=5s

UMask=0077

# process hardening
NoNewPrivileges=true
PrivateDevices=yes
DevicePolicy=closed
CapabilityBoundingSet=
AmbientCapabilities=
RestrictSUIDSGID=yes
ProtectProc=invisible
ProcSubset=pid
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native

# fs hardening
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
StateDirectory={{ tsa_server_system_user }}
# covered by ProtectSystem=strict already
#ReadOnlyPaths=/opt/tsa
ReadWritePaths=/var/lib/{{ tsa_server_system_user }} /run

# kernel/mem hardening
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

# network hardening
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

[Install]
WantedBy=multi-user.target

