# Increase logging verbosity
APT::Periodic::Verbose "1";

# Update package lists every 1 day
APT::Periodic::Update-Package-Lists "1";

# Run unattended-upgrade every x days (0 is disabled)
APT::Periodic::Unattended-Upgrade "{{ common_apt_auto_update_interval }}";

# do not automatically reboot after upgrades
Unattended-Upgrade::Automatic-Reboot "false";
