agent {
    data_dir = "{{ spire_agent_data_dir }}"
    log_level = "{{ spire_agent_log_level }}"
    log_format = "{{ spire_agent_log_format }}"
    trust_domain = "{{ spiffe_trust_domain }}"
    server_address = "{{ spiffe_server_address }}"
    server_port = "{{ spiffe_server_grpc_port }}"
    socket_path = "{{ spire_agent_socket_path }}"


    allow_unauthenticated_verifiers = false
    allowed_foreign_jwt_claims = []
    authorized_delegates = []
    insecure_bootstrap = false
    rebootstrap_mode = "{{ spire_agent_rebootstrap_mode }}"
    profiling_enabled = false
    # profiling_freq = 
    # profiling_names = 
    # profiling_port =

    trust_bundle_path = "{{ trust_bundle_path}}"
    # trust_bundle_url = 
    trust_bundle_format = "pem"
    workload_x509_svid_key_type = "ec-p384"

    experimental {
        sync_interval = "{{ spire_agent_sync_interval }}"
        use_sync_authorized_entries = true
    }

    # attempt to rotate SVID when remaining time equals availability_target
    # SVID lifetime - availability_target must be at least 12h, otherwise rotation is 1/2 lifetime
    # availability_target = 

    # x509_svid_cache_max_size = 1000
    # jwt_svid_cache_max_size = 1000
    # require_pq_kem = false
}

plugins {
   KeyManager "memory" {
        plugin_data {}
    }

    NodeAttestor "aws_iid" {
        plugin_data {
            ec2_metadata_endpoint = "http://169.254.169.254/latest"
        }
    }

    WorkloadAttestor "unix" {
        plugin_data {}
    }
}

telemetry {
   Prometheus {
      host = "0.0.0.0"
      port = {{ spire_agent_metrics_port }}
   }
}

health_checks {
        listener_enabled = true
        bind_address = "localhost"
        bind_port = "{{ spire_agent_health_port }}"
        live_path = "/live"
        ready_path = "/ready"
}