[Unit]
Description=Prometheus node_exporter for efficient metrics collection
Requires=network.target
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/{{ prometheus_system_user }}
User={{ prometheus_system_user }}
Group={{ prometheus_system_user }}
ExecStart=/home/{{ prometheus_system_user }}/bin/node_exporter {{ prometheus_node_exporter_flags }}
# StandardOutput=append:/var/log/{{ prometheus_node_exporter_systemd_service_name }}.log
# StandardError=append:/var/log/{{ prometheus_node_exporter_systemd_service_name }}.log
KillMode=mixed
TimeoutSec=60
Type=simple
# LimitNOFILE=100000
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
