- targets:
    - https://loki-query-frontend.{{ hosted_zone_name }}/ready
  labels:
    env: {{ platform_env }}
    region: {{ ansible_ec2_instance_identity_document_region }}
    service_name: loki
    service_role: query-frontend
    severity: page
    # check_type: alb

- targets:
    - https://loki-distributor.{{ hosted_zone_name }}/ready
  labels:
    env: {{ platform_env }}
    region: {{ ansible_ec2_instance_identity_document_region }}
    service_name: loki
    service_role: distributor
    severity: page
    # check_type: alb
