- targets:
    - https://pyroscope-query-frontend.{{ hosted_zone_name }}/ready
  labels:
    check_type: readiness
    probe_kind: endpoint
    deployment_environment_name: {{ platform_env }}
    cloud_region: {{ ansible_ec2_instance_identity_document_region }}
    service_namespace: observability
    service_name: pyroscope-query-frontend
    phxi_service_name: pyroscope
    phxi_service_component: query-frontend
    phxi_account_name: {{ account_name }}
    phxi_account_label: {{ account_name }}-{{ platform_env }}
    severity: page


- targets:
    - https://pyroscope-distributor.{{ hosted_zone_name }}/ready
  labels:
    check_type: readiness
    probe_kind: endpoint
    deployment_environment_name: {{ platform_env }}
    cloud_region: {{ ansible_ec2_instance_identity_document_region }}
    service_namespace: observability
    service_name: pyroscope-distributor
    phxi_service_name: pyroscope
    phxi_service_component: distributor
    phxi_account_name: {{ account_name }}
    phxi_account_label: {{ account_name }}-{{ platform_env }}
    severity: page
