--config_plugin={{ osquery_config_plugin }}
--config_path={{ osquery_config_path }}

--logger_plugin={{ osquery_logger_plugin }}
--logger_path={{ osquery_logger_path }}
--logger_event_type={{ osquery_logger_event_type }}
--logger_snapshot_event_type={{ osquery_logger_snapshot_event_type }}

--host_identifier={{ osquery_host_identifier }}
--database_path={{ osquery_database_path }}

--disable_events={{ osquery_disable_events }}
--enable_bpf_events={{ osquery_enable_bpf_events }}
--events_expiry={{ osquery_events_expiry }}
--events_max={{ osquery_events_max }}

--watchdog_level={{ osquery_watchdog_level }}
--verbose={{ osquery_verbose }}

--extensions_socket={{ osquery_extensions_socket }}
--disable_extensions={{ osquery_disable_extensions }}
