{{ define "slack.title" -}}
[{{ .GroupLabels.env | toUpper }}][{{ .CommonLabels.severity | toUpper }}] {{ .CommonLabels.alertname }} – {{ .GroupLabels.service_name }} / {{ .GroupLabels.service_role }}
{{- end }}

{{ define "slack.text" -}}
*Env:* {{ .GroupLabels.env }} / {{ .CommonLabels.region }}
*Service:* {{ .GroupLabels.service_name }} / {{ .GroupLabels.service_role }}
*Alerts:* {{ len .Alerts }} firing

{{ range .Alerts }}
• *{{ .Labels.alertname }}* on {{ or .Labels.node }} ({{ .Labels.host_id }})
  {{ if .Annotations.summary }}{{ .Annotations.summary }}{{ else }}No summary.{{ end }}
{{ end }}

{{ if .CommonAnnotations.runbook_url }}
*Runbook:* <{{ .CommonAnnotations.runbook_url }}|Runbook>
{{ end }}
{{ if .CommonAnnotations.dashboard_url }}
*Dashboard:* <{{ .CommonAnnotations.dashboard_url }}|Grafana dashboard>
{{ end }}
{{- end }}
