{{ define "slack.title" -}}
[{{ .GroupLabels.deployment_environment_name | toUpper }}][{{ .CommonLabels.severity | toUpper }}] {{ .CommonLabels.alertname }} – {{ .GroupLabels.phxi_service_name }} / {{ .GroupLabels.phxi_service_component }}
{{- end }}

{{ define "slack.text" -}}
*Env:* {{ .GroupLabels.deployment_environment_name }} / {{ .CommonLabels.cloud_region }}
*Service:* {{ .GroupLabels.phxi_service_name }} / {{ .GroupLabels.phxi_service_component }}
*Alerts:* {{ len .Alerts.Firing }} firing{{ if gt (len .Alerts.Resolved) 0 }} / {{ len .Alerts.Resolved }} resolved{{ end }}

{{ range .Alerts }}
• *{{ .Labels.alertname }}* on {{ or .Labels.node }} ({{ .Labels.host_id }})
  {{ if .Annotations.summary }}{{ .Annotations.summary }}{{ else }}No summary.{{ end }}
{{ end }}

{{ if .CommonAnnotations.runbook_url }}
*Runbook:* <{{ .CommonAnnotations.runbook_url }}|Runbook>
{{ end }}
{{ if .CommonAnnotations.dashboard_url }}
*Dashboard:* <{{ .CommonAnnotations.dashboard_url }}|Grafana dashboard>
{{ end }}
{{- end }}
