http_address = "0.0.0.0:{{ oauth2proxy_tcp_port }}"
reverse_proxy = true

upstreams = [
    "http://127.0.0.1:{{ sitesuper_tcp_port }}/"
]

## Logging configuration
logging_filename = "/home/{{ oauth2proxy_system_user }}/log/oauth2-proxy.log"
logging_max_size = 100
logging_max_age = 7
logging_local_time = true
logging_compress = false
standard_logging = true
request_logging = true
auth_logging = true
{% raw %}
standard_logging_format = "[{{.Timestamp}}] [{{.File}}] {{.Message}}"
request_logging_format = "{{.Client}} - {{.Username}} [{{.Timestamp}}] {{.Host}} {{.RequestMethod}} {{.Upstream}} {{.RequestURI}} {{.Protocol}} {{.UserAgent}} {{.StatusCode}} {{.ResponseSize}} {{.RequestDuration}}"
auth_logging_format = "{{.Client}} - {{.Username}} [{{.Timestamp}}] [{{.Status}}] {{.Message}}"
{% endraw %}

## pass HTTP Basic Auth, X-Forwarded-User and X-Forwarded-Email information to upstream
# pass_basic_auth = true
pass_basic_auth = false
# pass_user_headers = true
## pass the request Host Header to upstream
## when disabled the upstream Host is used as the Host Header
pass_host_header = true

## Email Domains to allow authentication for (this authorizes any email on this domain)
## for more granular authorization use `authenticated_emails_file`
## To authorize any email addresses use "*"
email_domains = [
    "*"
]

# Entra settings
provider = "oidc"
provider_display_name = "Okta"
oidc_issuer_url = "{{ oauth2proxy_config_okta_issuer_url }}"
client_id = "{{ oauth2proxy_config_okta_client_id }}"
client_secret = "{{ oauth2proxy_config_okta_client_secret }}"
scope = "openid email profile groups"

## Pass OAuth Access token to upstream via "X-Forwarded-Access-Token"
pass_access_token = false

## Cookie Settings
## Name     - the cookie name
## Secret   - the seed string for secure cookies; should be 16, 24, or 32 bytes
##            for use with an AES cipher when cookie_refresh or pass_access_token
##            is set
## Domain   - (optional) cookie domain to force cookies to (ie: .yourcompany.com)
## Expire   - (duration) expire timeframe for cookie
## Refresh  - (duration) refresh the cookie when duration has elapsed after cookie was initially set.
##            Should be less than cookie_expire; set to 0 to disable.
##            On refresh, OAuth token is re-validated.
##            (ie: 1h means tokens are refreshed on request 1hr+ after it was set)
## Secure   - secure cookies are only sent by the browser of a HTTPS connection (recommended)
## HttpOnly - httponly cookies are not readable by javascript (recommended)
cookie_name = "_oauth2_proxy"
cookie_secret = "{{ oauth2proxy_config_cookie_secret }}"
# cookie_domains = ""
cookie_expire = "168h"
# cookie_refresh = ""
cookie_secure = true
cookie_httponly = true
