[Unit]
Description=Tempo trace storage platform for integration with Prometheus/Mimir and Grafana
Requires=network.target
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/{{ tempo_system_user }}
User={{ tempo_system_user }}
Group={{ tempo_system_user }}
ExecStart=/home/{{ tempo_system_user }}/bin/tempo --config.file=/home/{{ tempo_system_user }}/conf/tempo.yml
#ExecStop=
#StandardOutput=append:/var/log/{{ tempo_systemd_service_name[tempo_role] }}.log
#StandardError=append:/var/log/{{ tempo_systemd_service_name[tempo_role] }}.log
KillMode=mixed
TimeoutSec=60
Type=simple
#Environment=LOG_DIR="/home/{{ tempo_system_user }}/logs/"
LimitNOFILE=100000
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
