server {
    bind_address = "{{ spire_server_address}}"
    bind_port = "{{ spire_server_grpc_port }}"
    trust_domain = "{{ spiffe_trust_domain }}"
    data_dir = "{{ spire_app_dir }}/data"
    log_level = "{{ spire_log_level }}"
    log_format = "{{ spire_log_format }}"
    ca_ttl = "{{ spire_ca_ttl }}"
    default_x509_svid_ttl = "{{ spire_default_svid_ttl }}"

    agent_ttl = "{{ spire_agent_svid_ttl }}"
    audit_log_enabled = {{ spire_log_audit_enabled | string | lower }}

    # refers to CA in plugins.UpstreamAuthority.plugin_data.bundle_file_arn
    ca_key_type = "{{ spire_ca_key_type}}"
    ca_subject {
      # country = "[{{ spire_ca_subject_country }}]"
      organization = {{ spire_ca_subject_organization | to_json }}
      common_name = "{{ spire_ca_subject_common_name }}"
    }
}

plugins {
    DataStore "sql" {
        plugin_data {
            database_type "aws_postgres" {
                region = "{{ ansible_ec2_instance_identity_document_region }}"
        }
        connection_string = "dbname={{ spire_db_name }} user={{ spire_db_user }} host={{ spire_db_host }} port={{ spire_db_port }} sslmode=verify-full"
      }
    }

    UpstreamAuthority "awssecret" {
        plugin_data {
            region = "us-east-2"
            cert_file_arn = "{{ spire_intermediate_cert_arn }}"
            key_file_arn = "{{ spire_intermediate_key_arn }}"
            bundle_file_arn = "{{ spire_intermediate_bundle_arn }}"
        }
    }

    KeyManager "aws_kms" {
        plugin_data {
            region = "{{ ansible_ec2_instance_identity_document_region }}"
            key_identifier_value = "{{ ansible_ec2_instance_identity_document_availabilityzone }}"
            key_tags {
                "Service" = "spire"
                "Component" = "server"
                "Name" = "spire-server-{{ ansible_ec2_instance_identity_document_availabilityzone }}-leaf-signing-cert"
            }
        }
    }

    NodeAttestor "aws_iid" {
        plugin_data {
            access_key_id = ""
            secret_key_id = ""
            skip_block_device = false
            disable_instance_profile_selectors = false
            partition = "aws"
        }
    }

}
