/var/ossec/logs/alerts/alerts.json {
    daily
    rotate 3
    compress
    missingok
    notifempty
    copytruncate
}
/var/ossec/logs/ossec.log {
    daily
    rotate 3
    compress
    missingok
    notifempty
    copytruncate
}