[Unit]
Description=oauth2-proxy is providing sso support for sitesuper-web
Requires=network.target
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/{{ oauth2proxy_system_user }}
User={{ oauth2proxy_system_user }}
Group={{ oauth2proxy_system_user }}
ExecStart=/home/{{ oauth2proxy_system_user }}/bin/oauth2-proxy --config /home/{{ oauth2proxy_system_user }}/conf/oauth2-proxy.conf
#StandardOutput=append:/var/log/{{ oauth2proxy_systemd_service_name }}.log
#StandardError=append:/var/log/{{ oauth2proxy_systemd_service_name }}.log
KillMode=mixed
TimeoutSec=60
Type=simple
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
