[Unit]
Description=Provides web web for sitesuper application
Requires=network.target
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/{{ sitesuper_web_system_user }}
User={{ sitesuper_web_system_user }}
Group={{ sitesuper_web_system_user }}
ExecStart=/home/{{ sitesuper_web_system_user }}/bin/sitesuper-web -enable-tracing -otlp-endpoint 127.0.0.1:4317 -enable-pyroscope -pyro-server {{ otlp_profiles_endpoint }} -pyro-tenant {{ company_name }}
#StandardOutput=append:/var/log/{{ sitesuper_web_systemd_service_name }}.log
#StandardError=append:/var/log/{{ sitesuper_web_systemd_service_name }}.log
KillMode=mixed
TimeoutSec=60
Type=simple
LimitNOFILE=100000
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
