[Service]
StandardOutput=journal
StandardError=journal
# KillMode=mixed
LimitNOFILE=100000
Restart=on-failure
RestartSec=5s

UMask=0077

# process hardening
NoNewPrivileges=true
PrivateDevices=yes
DevicePolicy=closed
CapabilityBoundingSet=
AmbientCapabilities=
RestrictSUIDSGID=yes
ProtectProc=invisible
ProcSubset=pid
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native

# fs hardening
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
StateDirectory={{ wazuh_manager_system_user }}
ReadWritePaths=/var/lib/{{ wazuh_manager_package_name }} /var/log/{{ wazuh_manager_package_name }} /run 

# kernel/mem hardening
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

# network hardening
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
