[Service]
StandardOutput=journal
StandardError=journal
KillMode=control-group
TimeoutStopSec=30
LimitNOFILE=100000
Restart=on-failure
RestartSec=5s

UMask=0077

WorkingDirectory=/var/ossec

# process hardening
NoNewPrivileges=true
PrivateDevices=yes
DevicePolicy=closed
CapabilityBoundingSet=~
#CapabilityBoundingSet=CAP_SETUID CAP_SETGID CAP_DAC_READ_SEARCH CAP_SYS_PTRACE CAP_CHOWN CAP_FOWNER
AmbientCapabilities=
RestrictSUIDSGID=yes
# python framework uses psutil which needs access to /proc, so we set ProtectProc to default instead of strict and subset to all instead of pid
ProtectProc=default
ProcSubset=all
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native

# fs hardening
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
# StateDirectory={{ wazuh_manager_system_user }}
ReadWritePaths=/var/ossec /run 

# kernel/mem hardening
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

# network hardening
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
