[Unit]
Description=Provides server for rekor signature certificate transparency
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/var/lib/{{ rekor_server_system_user }}
#WorkingDirectory=/
User={{ rekor_server_system_user }}
Group={{ rekor_server_system_user }}
EnvironmentFile=/etc/rekor/rekor-server.env
ExecStart=/opt/rekor/server/bin/rekor-server serve --aws-bucket "${REKOR_S3_BUCKET}" --aws-mysql-dsn "${REKOR_DATABASE_DSN}" --hostname "${REKOR_HOSTNAME}" --signer-kmskey "${REKOR_KMS_KEY_SIGNER}" --signer-kmshash "${REKOR_KMS_HASH}" --http-address "${REKOR_HTTP_ADDRESS}" --http-port "${REKOR_HTTP_PORT}" --http-metrics-port "${REKOR_METRICS_PORT}" --grpc-address "${REKOR_GRPC_ADDRESS}" --grpc-port "${REKOR_GRPC_PORT}" --log-level "${REKOR_LOG_LEVEL}"
#StandardOutput=append:/var/log/{{ rekor_server_systemd_service_name }}.log
#StandardError=append:/var/log/{{ rekor_server_systemd_service_name }}.log
StandardOutput=journal
StandardError=journal
KillMode=mixed
TimeoutSec=60
Type=simple
NotifyAccess=main
TimeoutStartSec=30
LimitNOFILE=100000
Restart=on-failure
RestartSec=5s

UMask=0077

# process hardening
NoNewPrivileges=true
PrivateDevices=yes
DevicePolicy=closed
CapabilityBoundingSet=
AmbientCapabilities=
RestrictSUIDSGID=yes
ProtectProc=invisible
ProcSubset=pid
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native

# fs hardening
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
StateDirectory={{ rekor_server_system_user }}
# covered by ProtectSystem=strict already
#ReadOnlyPaths=/opt/rekor
ReadWritePaths=/var/lib/{{ rekor_server_system_user }} /run

# kernel/mem hardening
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

# network hardening
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

[Install]
WantedBy=multi-user.target

