define:
  - &github-type "github-workflow"

oidc-issuers:
  https://token.actions.githubusercontent.com:
    issuer-url: https://token.actions.githubusercontent.com
    client-id: sigstore
    type: ci-provider
    ci-provider: *github-type
    contact: {{ github_oidc_note }}
    description: "GitHub Actions OIDC auth"

{% raw %}
ci-issuer-metadata:
  *github-type:
    default-template-values:
      url: "https://github.com"
      environment: ""
    extension-templates:
      github-workflow-trigger: "event_name"
      github-workflow-sha: "sha"
      github-workflow-name: "workflow"
      github-workflow-repository: "repository"
      github-workflow-ref: "ref"
      build-signer-uri: "{{ .url }}/{{ .job_workflow_ref }}"
      build-signer-digest: "job_workflow_sha"
      runner-environment: "runner_environment"
      source-repository-uri: "{{ .url }}/{{ .repository }}"
      source-repository-digest: "sha"
      source-repository-ref: "ref"
      source-repository-identifier: "repository_id"
      source-repository-owner-uri: "{{ .url }}/{{ .repository_owner }}"
      source-repository-owner-identifier: "repository_owner_id"
      build-config-uri: "{{ .url }}/{{ .workflow_ref }}"
      build-config-digest: "workflow_sha"
      build-trigger: "event_name"
      run-invocation-uri: "{{ .url }}/{{ .repository }}/actions/runs/{{ .run_id }}/attempts/{{ .run_attempt }}"
      source-repository-visibility-at-signing: "repository_visibility"
      deployment-environment: "environment"
    subject-alternative-name-template: "{{ .url }}/{{ .job_workflow_ref }}"
{% endraw %}